.producer-page {
  .page-header {
    margin-bottom: 2rem;

    .title {
      color: hsl(260, 20%, 15%);
    }

    .subtitle {
      color: hsl(260, 15%, 40%);
    }

    .icon {
      color: hsl(262, 52%, 47%);
    }
    
    @media screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
      
      .title {
        font-size: 1.5rem;
      }
    }
  }

  form {
    .field {
      margin-bottom: 1.5rem;
    }
    
    .box {
      border-radius: 12px;
      border: 1px solid hsl(262, 20%, 90%);
    }
  }
}
