.dashboard-page {
  .page-header {
    margin-bottom: 2rem;

    .title {
      margin-bottom: 0.5rem;
      
      .icon {
        color: #3273dc;
      }
    }

    .subtitle {
      color: #7a7a7a;
    }
  }
}
