.events-page {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .icon {
      color: #3273dc;
    }
  }

  .events-list {
    display: flex;
    flex-direction: column;
  }
}
