.admin-page {
  .page-header {
    margin-bottom: 2rem;
    
    .title {
      color: hsl(260, 20%, 15%);
    }

    .subtitle {
      color: hsl(260, 15%, 40%);
    }
    
    .icon {
      color: hsl(0, 84%, 60%);
    }
    
    @media screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
      
      .title {
        font-size: 1.5rem;
      }
    }
  }

  .danger-zone {
    border: 2px solid hsl(0, 84%, 60%);
    border-radius: 12px;
    padding: 2rem;
    background: hsl(0, 84%, 98%);
    
    @media screen and (max-width: 768px) {
      padding: 1.5rem;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
