.dlq-page {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    
    @media screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
      
      .title {
        font-size: 1.5rem;
      }
    }
  }

  .dlq-list {
    display: flex;
    flex-direction: column;
  }
}
