.dlq-page {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .dlq-list {
    display: flex;
    flex-direction: column;
  }
}
